In [20]:
from fmp_data.dataset import Dataset

In [29]:
d = Dataset(['DECK', 'IBKR', 'LULU'], 
            metrics=['cash_and_cash_equivalents', 'operating_margin_ttm', 'gross_margin_ttm'], 
            start_date='2022-01-01', end_date='2023-01-01').build()

In [30]:
d

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
0,2022-01-01,DECK,2021-11-04,746211000.0,0.200072,0.537471,2021-11-05
1,2022-01-02,DECK,2021-11-04,746211000.0,0.200072,0.537471,2021-11-05
2,2022-01-03,DECK,2021-11-04,746211000.0,0.200072,0.537471,2021-11-05
3,2022-01-04,DECK,2021-11-04,746211000.0,0.200072,0.537471,2021-11-05
4,2022-01-05,DECK,2021-11-04,746211000.0,0.200072,0.537471,2021-11-05
...,...,...,...,...,...,...,...
1093,2022-12-28,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1094,2022-12-29,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1095,2022-12-30,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1096,2022-12-31,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1097,2023-01-01,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09

In [31]:
d[d.symbol == 'LULU']

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
732,2022-01-01,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
733,2022-01-02,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
734,2022-01-03,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
735,2022-01-04,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
736,2022-01-05,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
...,...,...,...,...,...,...,...
1093,2022-12-28,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1094,2022-12-29,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1095,2022-12-30,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1096,2022-12-31,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1097,2023-01-01,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09

In [37]:
d[d.symbol == 'LULU'].first_effective_date.unique()

<DatetimeArray>
['2021-12-10 00:00:00', '2022-03-30 00:00:00', '2022-06-03 00:00:00',
 '2022-09-02 00:00:00', '2022-12-09 00:00:00']
Length: 5, dtype: datetime64[ns]

In [40]:
d[(d.symbol == 'LULU') & (d.date.between('2022-01-01', '2022-03-29'))]

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
732,2022-01-01,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
733,2022-01-02,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
734,2022-01-03,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
735,2022-01-04,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
736,2022-01-05,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
...,...,...,...,...,...,...,...
815,2022-03-25,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
816,2022-03-26,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
817,2022-03-27,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
818,2022-03-28,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10
819,2022-03-29,LULU,2021-12-09,993591000.0,0.205001,0.577957,2021-12-10

In [42]:
d[(d.symbol == 'LULU') & (d.date.between('2022-03-30', '2022-06-02'))]

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
820,2022-03-30,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
821,2022-03-31,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
822,2022-04-01,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
823,2022-04-02,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
824,2022-04-03,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
...,...,...,...,...,...,...,...
880,2022-05-29,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
881,2022-05-30,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
882,2022-05-31,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
883,2022-06-01,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30
884,2022-06-02,LULU,2022-03-29,1.259871e+09,0.213111,0.57676,2022-03-30

In [ ]:
d[(d.symbol == 'LULU') & (d.date.between('2022-06-03', '2022-09-01'))]

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
885,2022-06-03,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
886,2022-06-04,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
887,2022-06-05,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
888,2022-06-06,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
889,2022-06-07,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
...,...,...,...,...,...,...,...
971,2022-08-28,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
972,2022-08-29,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
973,2022-08-30,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
974,2022-08-31,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03
975,2022-09-01,LULU,2022-06-02,649016000.0,0.210711,0.568763,2022-06-03

In [44]:
d[(d.symbol == 'LULU') & (d.date.between('2022-09-02', '2022-12-08'))]

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
976,2022-09-02,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
977,2022-09-03,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
978,2022-09-04,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
979,2022-09-05,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
980,2022-09-06,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
...,...,...,...,...,...,...,...
1069,2022-12-04,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
1070,2022-12-05,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
1071,2022-12-06,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
1072,2022-12-07,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02
1073,2022-12-08,LULU,2022-09-01,498831000.0,0.213849,0.565253,2022-09-02

In [45]:
d[(d.symbol == 'LULU') & (d.date >= '2022-12-09') ]

,date,symbol,filing_date,cash_and_cash_equivalents,operating_margin_ttm,gross_margin_ttm,first_effective_date
1074,2022-12-09,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1075,2022-12-10,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1076,2022-12-11,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1077,2022-12-12,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1078,2022-12-13,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1079,2022-12-14,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1080,2022-12-15,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1081,2022-12-16,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1082,2022-12-17,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1083,2022-12-18,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1084,2022-12-19,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1085,2022-12-20,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1086,2022-12-21,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1087,2022-12-22,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1088,2022-12-23,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1089,2022-12-24,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1090,2022-12-25,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1091,2022-12-26,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1092,2022-12-27,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1093,2022-12-28,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1094,2022-12-29,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1095,2022-12-30,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1096,2022-12-31,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09
1097,2023-01-01,LULU,2022-12-08,352624000.0,0.214861,0.562535,2022-12-09